@media screen and (max-width: 400px){

    /* global responsive css starts here */
    .btn-primary{
        padding: 10px 30px;
        font-size: 14px;

    }

    /* global responsive css ends here */

      /* nav responsive css starts here */

    .nav-container, .play-instantly-container{
    flex-direction: column;
    width: auto;


    }
    .menu-items{
        flex-direction: column;
        justify-content: center;
    }
    .nav-left{
        width:100%;
        justify-content: center;
        margin: 0 auto;
    }
    .nav-right{
        width: 100%;
        padding: 0;
    }
    .menu-items{
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
    .menu-items li{
        margin: 0 auto;

    }

  /* nav responsive css ends here */

  /* banner css starts here  */

    .banner-section{
        background-image: none;

    }

    .banner-container{
        flex-direction: column;
        flex-direction: column-reverse;
        width: auto;
        padding: 0px 20px;
    }

    .banner-left{
        width: 90%;
        padding: 50px 20px 100px;
        background-image: url(images/Group14.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin: 0 auto;
    }
    .banner-left h2{
        font-size: 28px;

    }
    
    .banner-left h1{
        font-size: 45px;
        
    }
    .banner-right{
        width: 100%;
        padding: 50px 20px;
    }

      /* banner css ends here  */


      /* gamer responsive css starts  */

      .gamer-container{
       flex-direction: column;
       width: auto;
       padding: 50px 20px;
    
    }
    .gamer-left, .gamer-right{
        width: 100%;
        text-align: center;
    }


      /* gamer responsive css ends  */


      /* play instantly responsive css  */

      .play-inst-left {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

    .play-inst-left p {
        width: 70%;
        float: none;
        text-align: center;
        margin: 0 auto;
    }

    .play-inst-right {
        width: 100%;
    }

    .play-inst-right .main-play-inst-img img {
        width: 70%;
        float: right;
        margin: 0 30px;
        text-align: center;
    }

    .secondary-image{
        position: relative;
        top: -100px;
        left: 20px;
    }
    .secondary-image img{
        width: 150px;
   }