@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

/* global style starts here */

body{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;

}
h3{
    font-size: 35px;
    margin: 0;
}

.normal-paragraph{
        font-size: 14px;
        line-height: 1.3;
        font-weight: 200;
}

:root{
    --main-color: #FF42A5;
    --secondary-color: #8758F1;
}

.btn-primary{
    padding: 15px 40px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    box-shadow: 1px 3px 5px #ccc;
    transition: .1s ease-in-out;
}

.btn-primary:hover{
    padding: 15px 40px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    box-shadow: 1px 5px 5px #ccc;
}


/* navigation style starts here */

nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container{
    width: 1280px;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
}
.nav-left{
    width:50%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav-left img{
    width: 50px;
    height:auto;
    object-fit: contain;
    margin-right: 10px;

}
.nav-left p{
    font-size: 20px;
    font-weight: 700;
}
.nav-left p span{
    color: var(--main-color);
}

.nav-right{
    width:50%;

}


.menu-items{
    display: flex;
    justify-content: end;
}
.nav-right li{
    list-style: none;
    font-size: 18px;
    padding: 10px;
}

.social-icons-menu{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.fa-youtube{
    color: #F61C0D;
}
.fa-tiktok{
    color: #000000;
}

/* baner section starts here */

.banner-section{
    background-image: url(images/Group14.png);
    background-size: auto;
    background-repeat: no-repeat;
}
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    margin: 0 auto;
    padding: 40px 0;

}

.banner-left{
    width: 50%;
}

.banner-left h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.banner-left h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    
}

.banner-features{
    margin-bottom: 20px;
}

.icon-style{
    display: flex;
    justify-content: start;
    align-items: center;
}
.icon-style img{
    margin-right: 10px;
}
.icon-style p{
    margin: 5px 0;
}

.banner-button{
    display: flex;
    justify-content: start;
    gap: 15px;
}


.banner-first-btn{
    background-color: var(--main-color);
}

.banner-second-btn{
    background-color: #4EC5F7;
}


.banner-right{
    width: 50%;
}
.banner-right img{
    width: 100%;
}


/* gamer css starts here  */

.gamer-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    margin: 0 auto;
    padding: 50px 0;
    gap: 25px;

}

.gamer-right{
    text-align: right;
    width: 30%;
}

.gradiant-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}


.gamer-btn{
    background-color: var(--main-color);
}

.gamer-right h4 {
    font-size: 22px;
    color: #534C64;
}
.gamer-right h4 span{
    color: #534C64;
    font-size: 16px;
    font-weight: 500;

}

.gamer-left{
    width: 70%;
}
.gamer-left img{
    width: 100%;
}

/* gamer css ends here  */

/* Online game section css starts here  */


.online-game-container{
    width: 1280px;
    margin: 0 auto;
    padding: 50px 0;


}

.online-game-text-container{
    text-align: center;
    margin: 0;
}

.online-game-image-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px 0;

}

.game-image-text-column{

}

.image-div {
    width: 300px;
    position: relative;
    overflow: hidden;
}

.image-div img{
    width: 295px;
    border-radius: 20px;


}


.span-class i{
    font-size: 35px;
    color: var(--main-color);
    padding-bottom: 10px;
}
.span-class span{
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    padding-bottom: 10px;
}

.span-class{
    position: absolute;
    bottom: 0;
    right: 100%;
    display: block;
    background-color: #0000004b;
    width: 295px;
    height: 100%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    place-content: center;
    transition: .3s;   
    border-radius: 20px;
    border: 2px solid var(--main-color);
    box-sizing: border-box; 

}

.game-image-overlay:hover .span-class{
    position: absolute;
    bottom: 0;
    right: 5px;
    display: block;
    background-color: #0000004b;
    width: 295px;
    height: 100%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    place-content: center;
    border-radius: 20px;
    border: 2px solid var(--main-color);
    box-sizing: border-box;

}



/* Online game section css ends here  */



/* play instantly section css starts here  */

    .play-instantly-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1280px;
        margin: 0 auto;
        padding: 50px 0;
        gap: 75px;

    }

    .play-inst-left{
        width: 50%;
        margin-right: 100px;
        text-align: right;
    }

    .play-inst-left p{
        width: 50%;
        float: right;
    }

    .play-inst-right{
        width: 50%;
        
    }

    .play-inst-right .main-play-inst-img img{
        width: 90%;
        float: right;
        
    }

.secondary-image{
    width: 300px;
    position: relative;
    top: -150px;
    left: -100px;
}


    /* play instantly section css endss here  */


    /* games container section css starts here  */

    .bottom-grid-section{
        padding-bottom: 50px;
    }
    .bottom-grid-container{
        max-width: 1280px;
        margin: 0 auto;
    }
    
    .bottom-grid{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-evenly;
        align-items: center;

    }
    
    .bottom-grid li{
        list-style: none;
    }
    .bottom-grid li a{
        padding: 3px;
        border: 2px solid #fff;
        border-radius: 50px;
    }
    .bottom-grid li a:hover{
        border: 2px solid var(--main-color);
        list-style: none;
        border-radius: 50px;
        transition: 0.5s;
    }
    
    .bottom-grid li:hover span{
        color: var(--main-color);
        transition: 0.2s;
    }
    
    
    .bottom-grid a{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        text-decoration: none;
    }
    .bottom-grid a span{
        color: #0B0223;
        font-size: 20px;
        font-weight: 400;
    }
    /* games container section css ends here  */

    /* footer section css starts here  */

    .footer-section{
        display: flex;
        justify-content: center;
        background: #0B0223;
        color: #fff;
    }
    .footer-container{
        max-width: 1280px;
        text-align: center;
        padding:50px 0px;
    }
    .footer-logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-logo img{
        width: 80px;
        object-fit: contain;
        margin-right: 15px;
    } 
    .footer-logo p{
        font-size: 35px!important;
        font-weight: 700;
        color: #ffffff!important;
    } 
    .footer-logo span{
        color: var(--main-color);
    }


    .footer-menu, .footer-menu-last {
        display: flex;
        justify-content: space-between;
        list-style: none;
        color: #fff;
        font-size: 16px;
    }

    .footer-menu li, .footer-menu-last li{
        padding: 0 15px;
    }
    .footer-menu-last {
        color: rgba(255, 255, 255, 0.60);


    }
    

    .social-icon img{
        width: 30px;
        margin-left: 30px;
        padding: 50px 0;
    }


    .footer-section .normal-paragraph{
        padding-top: 20px;
    }

    /* footer section css ends here  */


